connection: &connection
  adapter: postgresql
  encoding: unicode
  host:     localhost
  pool: 5
  username: workshops
  password:

development:
  <<: *connection
  database: workshops_development

test: &test
  <<: *connection
  database: workshops_test
